
  
body{
    background: #eee;
  }
  
  .NAVIBAR{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    
    }

nav {
    background: rgb(97, 92, 92)

}
nav ul{
    list-style-type: none;
    padding: 0;
    }


nav a{
    text-decoration: none;
    text-align: center;
    color: #fff;
    display: block;
    padding: 10px;
   }
nav:a hover {
    background-color: #555;
  }


    
    

a.git{
     background: url(/Image/firstPageImage/Github-icon.png) no-repeat center;
     
 }

.social{
    max-width: 80px;
    margin-right: 20px;
    border-radius: 50%;
  }

/* flex styles */

nav{
    display: flex;
    justify-content: space-between
}

.botton{display: flex;
}

.social{
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    }

/*end navi bar section*/

.LOGO{

    width: 100%;
    max-width: 1100px;
    height: 400px;
    background: #eee;
    margin: 0 auto;
    margin-top: 10px

}


.picture{
    width: 100%;
    height: 100%;
    background: url(/Image/firstPageImage/html_5_and_css_3_logo.jpg) no-repeat center transparent;
    opacity: 0.5
    }
.picture:hover{
    opacity: 1;
}    


/*about me*/

.About{
    width: 100%;
    max-width: 1100px;
    height: 400px;
    background: #eee;
    margin: 0 auto;


}

.Me h1{
    text-align: center;
    transition-property: all;
    transition-duration: 4s;
    
    
}

.Me h1:hover{
    font-size: 50px;
    color:red;
    transform: rotate(360deg);
   

}

    



.Me h2{
    text-align: center
}


.Me a {
    font-size: 20px;
    color: red;
    text-shadow: 1px 1px rgb(59, 57, 57);
    transition-property: text-shadow, font-size;
    transition-duration: 3s 
    }


.Me a:hover {

    text-shadow: 10px 2px yellow;
    font-size: 70px;

    }
