#info{
    
    width: 800px;
    height: 800px;
    background-size: initial;
    margin: 0 auto;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
   

    


}

#info h1{
    color: red;
    text-align: center
}

#info p{
    color: red;
    text-align: center;
    font-size: 40px;
    font: bold
}



canvas{
    margin: center
}