


.nav-menu a { 
    background: rgb(12, 8, 51);
	display: block; 
	padding: 5px;
    color: #F0EADC;
    text-decoration: none;
    flex: 1 1 0;
    transition: all .1s ease-out;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
}

.nav-menu a:hover { 
    background: #E5DAC0; color: #333;    
}

.nav-menu-icon:hover {
    background: #E5DAC0; color: #333; 
}



.nav-menu li:last-child a { 
    
    border-radius: 0 0 40px 0;
    border: none;
    
}

.nav-menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around  
   
}

.nav-menu {
    width: 54%; 
    text-align: center;
    background: #333;
    border-radius: 0 0 40px 0;
	transition: all .3s ease-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	z-index: 1;
}

.nav-menu-icon {
    color: #F0EADC; 
    font-size: 25px;
    display: block;
    padding: 10px 20px;
    background: rgb(58, 42, 201);
	cursor: pointer;
    height: 40px; 
    border-radius: 0px 0px 90px 90px;
    position: absolute;
    transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
}
.nav-menu li a p{
    font-family: Arial, Helvetica, sans-serif;
}
#menuToggle { display: none; }
#menuToggle:checked ~ .nav-menu { position: fixed; top: -100px; }

.nav-menu:hover {
    top: -20px;
}


/*Mobile styles*/

@media (max-width: 576px)  {

.nav-menu ul {
    display: block;
}

.nav-menu {
    top: 0px;
    
}    

}
