
  
body{
    background: #eee;
  }
  
  .NAVIBAR{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
  }

nav {
    background: rgb(97, 92, 92)

}
nav ul{
    list-style-type: none;
    padding: 0;
  }


  nav a{
    text-decoration: none;
    text-align: center;
    color: #fff;
    display: block;
    padding: 10px;
  }