
.Features{
    
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 960px;
    width: 100%;
    justify-content: space-around;
    align-content: center
}
.game {
    width: 300px;
    height: 200px;
    
}

.snake {
    display: flex;
   
    flex-direction: column
 
}
  

   
.s {
    cursor: pointer;
    width: 40%;
    height: 40%;
    background: url(/Index_HTML_CSS_JS/Image/Game/snake-512.png) no-repeat center;
    background-size: 100% 100%;
    text-align: center
 
  }

  .snake:hover .s,
  .snake:focus .s {
    transform: scale(1.2);
  }
  .s::before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
    
    
  }
  
  .snake:hover .s:before,
  .snake:focus .s:before {
    display: block;

  }

  .s::before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

  }
  
  .snake:hover .s:before,
  .snake:focus .cs:before {
    display: block;
  }

  .s p{
      display: flex;
    align-items:center
  }
/*-------------------------------------------*/
  .pingpong{
    display: flex;
   
    flex-direction: column

  }

  .p {
    cursor: pointer;
    width: 50%;
    height: 50%;
    background: url(/Index_HTML_CSS_JS/Image/Game/Ping_Pong.png) no-repeat center;
    background-size: 100% 100%;
    text-align: center
 
  }



  .pingpong:hover .p,
  .pingpong:focus .p {
    transform: scale(1.2);
  }
  .p::before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
    
    
  }