



body{ background: url(/Index_HTML_CSS_JS/Image/Header/HeaderBackround.jpeg) no-repeat center;
    margin: 0 auto
    

}

.Header{
    width: 100%;
    max-width: 960px;
    height: 500px;
    background:inherit;
    margin: 0 auto;   
}
.Hello{
    display: flex;
    justify-content: center;
}

.Hi {
    width: 200px;
    height: 200px;
    background: url(/Index_HTML_CSS_JS/Image/Header/Hello.png) no-repeat center ;
    background-size: 100%
}


.Me{
    margin-top: 19px;
   text-align: center;
   box-shadow: 0 8px 6px -6px  rgb(136, 127, 127);
}

.Me a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}


.Picture{
    display: flex;
    justify-content: center;
  
}

.Slider{
    margin-top: 25px
}
.Slider img {
    
    width: 300px;
    height: 300px;
    box-shadow: 0 8px 6px -6px rgb(136, 127, 127);
}

